body {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  /* background: rgb(185, 179, 175); */ /* From tutorial */
  background: floralwhite;
}
h1,
h2 {
  /* color: floralwhite; */ /* From tutorial */
  color: darkseagreen;
}
p {
  color: #665544;
}
