@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(#ffc990, #fba49d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 110vh;
  overflow-x: hidden;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #faf2e1;
  box-shadow: 0 5px 5px -5px gray;
}

.logo {
  font-size: 1.5em;
  color: #a3873e;
  pointer-events: none;
  /* margin-right: 270px; */
}

.navigation a {
  text-decoration: none;
  color: #fba49d;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background: #fba49d;
  color: #faf2e1;
}

.circles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.circles img {
  margin-top: 25px;
  margin-right: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  height: 30vw;
  width: 30vw;
}

.sec {
  position: relative;
  top: 0;
  padding-top: 50px;
  padding-inline: 100px;
  color: #fff;
}

.sec h2 {
  font-size: 3em;
  /* color: #fff; */
  margin-bottom: 10px;
}

.sec p {
  font-size: 1.5em;
  font-weight: 300;
  margin-right: 30vw;
}

.btn {
  font-size: 1em;
  font-weight: 300;
  padding: 10px;
  background: #faf2e1;
  color: #fba49d;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.6);
}
